<!DOCTYPE html> <!-- Lines 1 - 2 tell what type pf document-->
<html>
<head> <!-- Lines describe the background color of the body a link to the stylesheet and the title -->
</head> <!-- Lines 7 -8 shows the end of the head and body -->
<center>
<style> 
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
</style>
<ul>
    <li><a href="/get_greeting">Home</a></li>
    <li><a href= "/woodpens">Wood Pens</a></li>
    <li><a href="/key_chains">Key Chains</a></li>
    <li><a href= "#Contact"></a></li>
</ul>  
  <body style= "background-color: lightblue;">
<link href="<%= url('/css/style.css') %>" rel="stylesheet" type="text/css" />
<title>Key Chains</title>
<p>Key Chain cost is</p>
<br>
<img src="/img/kcgold.jpg" alt="Key Chains" width="200" height="200">
<img src="/img/detachsliver.jpg" alt="Key Chains" width="200" height="200">
<img src="/img/detachgold.jpg" alt="Key Chains" width="200" height="200">
<img src="/img/kcsliver.jpg" alt="Key Chains" width="200" height="200">
<br><br>
<img src="/img/singlekcsliver.jpg" alt="Key Chains" width="200" height="200">
<br><br><br>
<img src="/img/penkcsliver.jpg" alt="Wood Pens" width="200" height="200">
<img src="/img/pocketkcgold.jpg" alt="Wood Pens" width="200" height="200">
<img src="/img/pillkcsliver.jpg" alt="Wood Pens" width="200" height="200">
<img src="/img/whistlekcsliver.jpg" alt="Wood Pens" width="200" height="200">
<br><br>
<img src="/img/whistlekcgold.jpg" alt="Wood Pens" width="200" height="200">
<br><br>

</body>
</center> <!-- This will center the the document itself -->
 
