<!DOCTYPE html> <!-- Lines 1 - 2 tell what type pf document-->
<html>
<head> <!-- Lines describe the background color of the body a link to the stylesheet and the title -->
  <body style= "background-color: lightblue;">
<link href="<%= url('/css/style.css') %>" rel="stylesheet" type="text/css" />
<title>Wood turning</title>
</head> <!-- Lines 7 -8 shows the end of the head and body -->
</body>
<center> <!-- This will center the the document itself -->
	<div class="dropdown"> <!-- Lines 10 - 19 is the creation of dropdown contents for future pages of the web site -->
  <button onclick="myFunction()" class="dropbtn">Dropdown</button>
  <div id="myDropdown" class="dropdown-content">
    <a href="#">Wood Pens</a>
    <a href="#">Pen and Pencil</a>
    <a href="#">Key Chains</a>
    <a href="#">Pepper Grinders</a>
    <a href="#">Kitchen Accessories</a>
  </div>
</div>
<br><br><br> <!-- Line breaks between the dropdown links and the and the main introduction of the page  -->
<img src="/img/wood turning.png" alt="Wood Turning" width="206" height="244"> <!-- This is the image for the web site -->
<h1 style= "color: black; font-size: 250%;">WELCOME!!!</h1> <!-- lines 22 - 23 are the first heading showing the color and the font size  -->
<h1 style="color: red; font-size: 200%;">Appalachian Wood Pens and Accessories</h1>
<h2 style= "color: red; font-size: 150%;">Great GIFT!!! For Any Occsion</h2> <!-- This is the second heading showing the color and the font size -->
<p style="color: brown;"> Each Wood Pen, Pepper Grinder, and Key Chain are made from West Virginia woods. </p> <!-- Lines 25 - 26 is a discription of the web site showing color and font size -->
<p style= "color: brown;">They are cut from solid wood and cut into blanks these items are hand turned, sanded, polished and assambled.</p>
<address style="color:red;"> <!--Lines 27 - 32 is the owners name and address and color -->
	Chris Phillips
	150 Charles Street
	Ronceverte, WV 24970
	(304)-524-7927
	cptp50wv@shentel.net
</address> <!-- lines 33 - 36 is the ending of the html document -->
</center>
</body>
</html>
