<!DOCTYPE html> <!-- Lines 1 - 2 tell what type pf document-->
<html>
<head> <!-- Lines describe the background color of the body a link to the stylesheet and the title -->
  <body style= "background-color: lightblue;">
<link href="<%= url('/css/style.css') %>" rel="stylesheet" type="text/css" />
<title>Wood turning</title>
</head> <!-- Lines 7 -8 shows the end of the head and body -->
</body>
<center> <!-- This will center the the document itself -->
	<div class="dropdown"> <!-- Lines 10 - 19 is the creation of dropdown contents for future pages of the web site -->
  <p><a href="html_images.asp">HTML Images</a></p>
  <button onclick="myFunction()" class="dropbtn">Dropdown</button>
  <div id="myDropdown" class="dropdown-content">
    <a href="#">Wood Pens</a>
    <a href="#">Pen and Pencil</a>
    <a href="#">Key Chains</a>
    <a href="#">Pepper Grinders</a>
    <a href="#">Kitchen Accessories</a>
  </div>
</div>
<br><br><br> <!-- Line breaks between the dropdown links and the and the main introduction of the page  -->
